body{
    background-color: #BCB0A1;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

/* header logo */
.hdrlogo {
    display: inline-block;
    position: relative;
    width: 20%;
    margin: 35px 40px;
}

/* contains nav bar */
.container{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right; 
    position: fixed; /* naka stay*/ 
    width: 200px;
    top: 55%;
    right: 5%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    z-index: 1;
}

/* icons (fb, twitter, github) under nav bar */ 
.imglist{
    width: 20px;
    height: 22px;
    margin: 0.9rem 0.5rem;
    display: inline-block;
}

/* nav bar */ 
ul li, a {
    list-style-type: none; /* remove bullet points */
    text-decoration: none; /* remove underline */ 
    color: #985836;
}

/* changes color when mouse hovers */
nav > ul > li > a:hover {
  color: black;
}

/* main */
.landing {
    position: absolute;
    left: 12%;
    display: flex; /* required */ 
    flex-direction: column; /* direction is top -> bot */ 
    text-align: left;
    width: 65%; 
    max-width: 70%; 
    margin: 0 auto;
    padding: 90px 0; /*90px- top and bot; 0 - left and right; */
    /*padding: 90px 35px 0 0; - clockwise*/
}

/* main h1 class */
.greet{
    font-size: 7rem;
    margin: 0;
    width: 60%;
}

/* animation starts here */
main h1{
    font-size: 7rem;
    position: relative;
    margin: 0;
}
  
main h1::before,
main h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  
main h1::before {
    background-color: #BCB0A1;
    animation: typewriter 4s
      steps(18) 1s forwards;
}
  
main h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter 4s
        steps(18) 1s forwards,
      blink 600ms steps(18) infinite;
}
  
main h2, main p, main div {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(4s + 2s) forwards;
}
  
@keyframes typewriter {
    to {
      left: 100%;
    }
}
  
@keyframes blink {
    to {
      background: transparent;
    }
}
  
@keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
 /* end of animation */ 

main h2{
    font-size: 2.5rem;
    margin: 0;
}

main p{
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.landing > h1 > span {
    color: #482317;
}

main button{
    background-color: transparent;
    width: 160px;
    border-color: #985836;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-right: 1.5rem;
}

/* text inside button */
main a button{
    color: black;
}

/* change color of button + text when mouse hovers */
main button:hover{
    background-color: #482317;
    color: #ffff;
}

.btn{
    display: inline-block;
}

/* section 1*/
.sec1{
    width: 65%;
    max-width: 70%;
    height: 70%;
    position: absolute;
    top: 100%;
    left: 10%;
    margin: 0;
}

/* horizontal-line */
section > h2:after {
    display: inline-block;
    content: "";
    height: 1px;    
    position: absolute;
    width: 85%;
    margin-left: 10px;
    margin-top: 15px;
    z-index: 1;
    border: 0;
    /* hr style*/
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #482317, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #482317, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #482317, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #482317, #ccc);  
}

section .main-content .item-container {
    background-color: #986c55;
    border-radius: 5px;
    display: flex;
    isolation: isolate;
    min-width: 90%;
    max-width: 90%;
    max-height: 60%;
    margin: 2rem;
    padding: 20px;
    transition: background-color .15s;
    z-index: 9;
}

/* if odd - picture on right; if even - picture on left */
section .main-content > .item-container:nth-of-type(odd) {
    flex-direction: row-reverse;
}

/* image - wrap*/ 
section .main-content .item-container .image-wrap {
    flex-shrink: 0;
    width: 500px;
    height: 15rem;
    overflow: hidden;
    padding: 10px;
}

section .main-content .item-container:hover .image-wrap > img {
    transform: scale(1.05);
}

/* when mouse hovers on item-container */ 
section .main-content .item-container:hover {
    background-color: rgb(146, 141, 141);
}

/* transition for img */ 
section .main-content .item-container .image-wrap > img {
    width: 100%;
    height: auto;
    transition: 0.2s ease-out;
}

/* targets h3 in section 1 */
section .main-content .item-container .item-details > h3 {
    font-weight: 500;
    overflow: hidden;
    margin: 1rem;
}

/*targets p in section 1 */
section .main-content .item-container .item-details > p {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.5px;
    overflow: hidden;
    margin: 1rem; /* margin around p within container */
    text-align: justify; /* justify content */
}

/* end of section 1 */

/* section 2 - services */ 
.sec2{
    width: 65%;
    max-width: 70%;
    height: 40%;
    position: absolute;
    top: 235%;
    left: 10%;
}

/* end of sec 2 */ 
.sec3{
    width: 65%;
    max-width: 70%;
    height: 60%;
    position: absolute;
    top: 300%;
    left: 10%;
}

.card__container {
    height: 60vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*cards*/ 
.card {
    margin: 1rem auto 0;
    width: 250px;
    height: 90%;
}

/*front card*/
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

/* card is clicked*/
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
   }

/*content infront of card*/
.card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 61, 28, 0.6);
}

.card__face h3{
    text-align: center;
    margin-bottom: 4rem;
}

.card__face .title-bck{
    text-align: center;
    margin-bottom: 2rem;
}


/* icon infront of card*/
.icon{
    display: block;
    width: 40%;
    height: 30%;
    margin-bottom: 3.7rem;
    object-fit: cover;
}

/*back of card */
.card__face--back {
    transform: rotateY(180deg);
}
  
.card__body {
    padding: 0 15px;
}

.card__body h3{
    color: #FFF;
    font-size: 1.2vw;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.5rem;
}

.card__body p {
    margin-bottom: 1rem;
    padding: 0 5px;
    text-align: justify;
    font-size: 1.2vw;
    line-height: 1.4;
}

.card__face--front h3{
    position:absolute;
    padding-top: 150px;
    color: rgb(255, 255, 255);
}

.btn-view{
    border: 2px solid #333;
    background-color: transparent;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    margin: 7px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-view:hover {
    background-color: #482317;
    color: #ffff;
    width: 110px;
}
/*end of sec 3 */

/*sec 4 */
.sec4{
    width: 65%;
    max-width: 70%;
    height: 40%;
    position: absolute;
    top: 400%;
    left: 10%;
    line-height: 2rem;
}


form{
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    width: 430px;
    height: 295px;
    left: 25%;
    padding: 5px;
    border-radius: 3px;
}

form p {
    margin-left: 1.5rem;
    margin-bottom: 0;
}

form > .title{
    color: rgb(91, 47, 6);
    font-size: 1.5vw;
    letter-spacing: 0.8rem;
}

form p > label {
    font-size: 2 rem;
}

/*send button */
form p > button{
    background-color: transparent;
    width: 100px;
    border-color: #985836;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    margin-right: 1.5rem;
    position: relative;
    bottom: 10px;
    left: 65%;
}

form p > button:hover{
    background-color: #482317;
    color: #ffff;
}

/*end of sec 4*/

/*footer */
footer{
    position: absolute;
    top: 475%;
    background-color: #985836;
}

footer p{
    display: inline-block;
    color: black;
    margin-left: 2.3rem;
}

.ftrlogo{
    justify-content: center;
    display: inline;
    position: relative;
    width: 16%;
    margin-left: 2.3rem;
    margin-top: 0.9rem;
    color: black;
}

/*end of footer */

/* small screen and laptop */
@media screen and (min-width: 769px) and (max-width:1024px){
    .landing, .sec1, .sec2, .sec3, .sec4 {
        width: 70%;
    }

    .container{
        top: 45%;
    }

    .imglist{
        width: 9%;
        height: 11%;
        margin-right: 0.3rem;
    }

    nav > ul > li > a{
        font-size: 2vw;
    }

    .sec1{
        top: 165%;
        max-height: 40%; 
    }

    .greet{
        font-size: 9.3vw;
    }

    main > h2, main > p {
        font-size: 2.5vw;
    }

    .sec2{
        top: 390%;
    }

    .sec3{
        top: 470%;
    }
    
    .sec4{
        top: 550%;
    }

    footer{
        top: 670%;
    }

    section .main-content .item-container > .image-wrap{
        width: 350px;
    }


    section .main-content > .item-container{
        align-items: center;
    }

    section .main-content .item-container .item-details > h3{
        font-size: 2vw;
    }

    section .main-content .item-container .item-details > p{
        font-size: 1.5vw;
    }

    .card__face h3{
        font-size: 1.5vw;
    }

    .card{
        margin: 1vw;
    }

    form{
        left: 6%;
    }
}